/* Add your custom styles here */
//footer{
//    position: absolute;
//    width: 100%;
//    bottom: 0;
//    height: 100px;
//}
.top-footer{
    background: #4e4e4e;
    color: #e1e1e1;
    ul {
        list-style-type: none;
        padding: 0
    }
    a{
        color: #e1e1e1
    }
    h2, h4{
        color: #fff
    }
}