@font-face {
    font-family: asgr;
    font-style: normal;
    font-weight: 400;
    src: url("font/trajan-pro/TrajanPro-Regular.woff") format("woff");
}
@font-face {
    font-family: asgr;
    font-style: normal;
    font-weight: bold;
    src: url("font/trajan-pro/TrajanPro-Bold.woff") format("woff");
}

@font-face {
    font-family: asgrcursive;
    font-style: normal;
    font-weight: italic;
    src: url("font/chapaza/Chapaza-Italic.woff") format("woff");
}

