body {
  font-family: $body-ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-ff;
  font-weight: bold;
}

.navbar {
  padding: 0;
  @include media-query($on-palm) {
    padding: 0.5rem 1rem;
  }
}

.tall-nav {
  padding: 1rem 1rem;
}

a.nostyle {
  color: $body-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.bg-yellow {
  background-color: $yellow;
}

.grey {
  color: $grey;
}

.hover-shadow {
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.hide {
  display: none;
}
