<section class="core-team bg-light py-5">
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12 text-center">
        <h2 class="display-4">Core Team</h2>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-6 text-right align-self-center pb-3">
        <h4>John Doe</h4>
        <p class="lead">
          John Doe is nam sem quam, laoreet et leo quis, consectetur luctus
          orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          class="img-fluid"
          src="/assets/images/rsz_ann-savchenko-h0h_89ifsws-unsplash.jpg"
          alt="team member"
        />
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-6">
        <img
          class="img-fluid"
          src="/assets/images/rsz_ann-savchenko-h0h_89ifsws-unsplash.jpg"
          alt="team member"
        />
      </div>
      <div class="col-12 col-md-6 align-self-center pb-3">
        <h4>Jane Doe</h4>
        <p class="lead">
          John Doe is nam sem quam, laoreet et leo quis, consectetur luctus
          orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae
        </p>
      </div>
    </div>
  </div>
</section>
