<section class="core-team py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="display-4 pb-4 text-primary" data-aos="fade-up">Core Team</h2>
            </div>
        </div>
    </div>
    <div class="container core-team-grid">
        <img alt="team member" class="image-1 img-fluid" data-aos="zoom-in" src="/assets/images/sowmya.jpg"/>
        <div class="details-1" data-aos="fade-up">
            <h4>Sowmya</h4>
            <p class="lead">John Doe is nam sem quam, laoreet et leo quis, consectetur luctus orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
            </p>
        </div>
        <img alt="team member" class="image-2 img-fluid" data-aos="zoom-in" src="/assets/images/roshan.jpg"/>
        <div class="details-2" data-aos="fade-up">
            <h4>Roshan</h4>
            <p class="lead">John Doe is nam sem quam, laoreet et leo quis, consectetur luctus orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
            </p>
        </div>
    </div>
</section>
