<section class="csr bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="display-4">CSR Efforts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="nostyle" href="#">
                    <div class="card border hover-shadow mb-4">
                        <img alt="" height="200" src="/assets/images/rsz_kiwihug-zzhnfymybrg-unsplash.jpg">
                        <div class="card-body">
                            <p>We provide the widest range of services, so our customers don’t have to search and contact other agencies elsewhere to accomplish a project.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nostyle" href="#">
                    <div class="card border hover-shadow mb-4">
                        <img alt="" height="200" src="/assets/images/rsz_kiwihug-zzhnfymybrg-unsplash.jpg">
                        <div class="card-body">
                            <p>We provide the widest range of services, so our customers don’t have to search and contact other agencies elsewhere to accomplish a project.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="nostyle" href="#">
                    <div class="card border hover-shadow mb-4">
                        <img alt="" height="200" src="/assets/images/rsz_kiwihug-zzhnfymybrg-unsplash.jpg">
                        <div class="card-body">
                            <p>We provide the widest range of services, so our customers don’t have to search and contact other agencies elsewhere to accomplish a project.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
