<section class="experts py-5">
    <div class="experts-head-card">
        <div class="experts-head-content">
            <h2 class="display-4 pb-3">Experts</h2>
            <p class="lead">
                We offer undergraduate, MA, PhD and professional learning programs
            </p>
        </div>
    </div>
    <div class="image image-1">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/1.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-2">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/9.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-3">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/3.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-4">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/4.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-5">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/6.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-6">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/7.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-7">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/8.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
    <div class="image image-8">
        <img alt="expert image" src="https://advantageseniors.org/images/expert/2.jpg"/>
        <p class="text-white">About the expert here</p>
    </div>
</section>