<footer class="" id="footer">
    <div class="footer-1 bg-dark py-5">
        <div class="container container-lg">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="/"><img alt="ASGR logo" class="footer-logo pb-4" src="/assets/images/aSGR_logo.png" width="60"></a>
                    <p>{{site.description}}</p>
                    <ul class="social w-100 nav-fill p-0">
                        <li>
                            <a target="_blank" href="{{site.data.main.social.youtube}}">
                                <i aria-hidden="true" class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{site.data.main.social.facebook}}">
                                <i aria-hidden="true" class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{site.data.main.social.twitter}}">
                                <i aria-hidden="true" class="fa fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="{{site.data.main.social.github}}">
                                <i aria-hidden="true" class="fa fa-github-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-2">
                    <h5>Quick Links</h5>
                    <ul class="quick-links p-0">
                        <li>
                            <a href="/about/">About</a>
                        </li>
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                        <li>
                            <a href="/sitemap.xml">Sitemap</a>
                        </li>
                        <li>
                            <a href="#">Some Link</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <h5>Contact us</h5>
                    <ul class="contact p-0">
                        <li class="r-email">
                            <i aria-hidden="true" class="fa fa-envelope"></i>
                            Email us</li>
                        <li>
                            <a href="https://advantageseniors.org" target="_blank">
                                <i aria-hidden="true" class="fa fa-globe"></i>
                                Visit our website</li>
                        </li>
                        <li>
                            <a href="https://advantageseniors.org/blog/" target="_blank">
                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                Blog</a>
                        </li>
                        <li>
                            <i aria-hidden="true" class="fa fa-copyright"></i>&nbsp;
                            <script>document.write(new Date().getFullYear());</script>&nbsp;| All rights reserved</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <h5>Contact us</h5>
                    <ul class="contact p-0">
                        <li class="r-email">
                            <i aria-hidden="true" class="fa fa-envelope"></i>
                            Email us</li>
                        <li>
                            <a href="https://advantageseniors.org" target="_blank">
                                <i aria-hidden="true" class="fa fa-globe"></i>
                                Visit our website</li>
                        </li>
                        <li>
                            <a href="https://advantageseniors.org/blog/" target="_blank">
                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                Blog</a>
                        </li>
                        <li>
                            <i aria-hidden="true" class="fa fa-copyright"></i>&nbsp;
                            <script>document.write(new Date().getFullYear());</script>&nbsp;| All rights reserved</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-2 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Advocate of Social Gerontology & Research</h4>
                </div>
            </div>
        </div>
    </div>
</footer>