<section class="what-we-are py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 grey text-center">
                <h2 class="display-4 pb-3 text-primary" data-aos="fade-up">What we are?</h2>
                <p class="lead" data-aos="fade-up">
                    On a global and national scale, we are witnessing an unprecedented demographic change due to declining fertility, improved health care and longevity. The developed world is rapidly ageing and managing an ageing society is the pressing challenge that arises.
                </p>
                <p class="lead hide">
                    Operating in the field of geriatric and gerontological care for over a decade and recognizing the ever increasing needs of the ageing population, we felt the need to establish ASGR. Our experiences in the field of geriatric care led us to identify the scope for retirement advocacy and improving support services for the elderly.
                </p>
                <p class="lead hide">
                    The Academy of Social Gerontology & Research (ASGR) was birthed with the intention of studying the phenomenon of ageing and the impact of the global ageing population, in order to develop and evaluate evidence-based best practice in geriatric education and training.
                </p>
                <p class="lead hide">
                    Through our research we intend to delve into the issues faced by the aged population and we design exclusive solutions to solve the special issues faced by the infirm older adults.
                </p>
                <button class="btn btn-yellow" id="wwa-show">Read More</button>
            </div>
        </div>
    </div>
</section>
